
.links_table, .sheader, .sheader .poster {
    background: #000000;
}
.sheader {
    width: 100%;
    float: left;
    padding: 15px;
    overflow: hidden;
    margin-bottom: -150px;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.content {
    background: #000000;
    color: rgb(255, 255, 255);
}
body {
    font-family: "Roboto",sans-serif;
}
body {
    background: #ffffff;
    color: rgb(2, 2, 2);
}
body {
    line-height: 1;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.content {
  
    float: left;
    padding: 0;
    position: relative;
    margin-bottom: 200px;
    
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    font-family: "Roboto",sans-serif;
}
body {
    background: #000000;
    color: #fff;
}
body {
    line-height: 1;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.sgeneros {
    
    width: 100%;
    border-bottom: 10px;
    padding: 5px 0;
    display: inline-block;
}

.sgeneros, .videobox .embed {
    color: rgb(61, 64, 245);
    position: relative;
    overflow: hidden;
}
.sgeneros a {
    color: #e5e6f0;
    border: solid 1px #ffffff;
    font-size: 18px;
    padding: 2px 4px;
    font-weight: 500;
    background: #000;
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}
.sgeneros, .videobox .embed {
    position: relative;
    overflow: hidden;
}
.poster {
    float: left;
    padding-bottom: 0;
    width: 140px;
    position: relative;
}

.data {
    padding: 0;
    width: calc(100% - 195px);
    margin-left: 195px;
}
.extra {
    float: left;
    padding: 5px 0;
    color: #757a7d;
}
.botao1 {
    width: 180px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
  
    text-align: center;
    background: #3e4095;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-image: -webkit-linear-gradient(45deg, blue 50%, transparent 50%);
    background-image: linear-gradient(45deg, blue 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .botao1 a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
  }
  .data h1{
    font-size:28px;
  }
.resumotemp {
    width: 70%;
    padding: 15px;
    display: inline-block;
    
    border-bottom: 3px solid #333;
}
.wp-content {
    width: 100%;
    float: left;
}
.resumotemp p {
    font-size: 13px;
    line-height: 1.3em;
    color: #888484;
}
.wp-content p {
    margin-bottom: 15px;
    line-height: 23px;
    color: #888484;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.wp-content h1, .wp-content h2, .wp-content h3, .wp-content h4, .wp-content h5, .wp-content h6 {
    color: #757a7d;
}
.wp-content h1, .wp-content h2, .wp-content h3, .wp-content h4, .wp-content h5, .wp-content h6 {
    color: #757a7d;
}
.single_tabs {
    border-bottom: solid 3px #333;
}
.single_tabs {
    width: 70%;
    float: left;
    padding: 0 25px;
}