* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #ccc;
  background: -webkit-linear-gradient(to right, #556270, #4ecdc4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .bloco {
  border: solid 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  width: 170px;
  height: 170px;
  margin: 15px;
}
/* slide */

.slider {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

  margin-top: 50px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slides img {
  width: 900px;
  height: 500px;
}

/* Css for manual slide navigation */

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ccc;
}

#radio1:checked ~ .first {
  margin-left: -0%;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for navigation auto */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 470px;
}

.navigation-auto div {
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ccc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ccc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ccc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ccc;
}

footer {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: white;
}

/* estilizando o Escolher Episodio */
.botao {
  width: 180px;
  height: 50px;
  border-radius: 10px;

  margin-top: 50px;

  text-align: center;
  background: #3e4095;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: -webkit-linear-gradient(45deg, blue 50%, transparent 50%);
  background-image: linear-gradient(45deg, blue 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.botao:hover {
  background-position: 0;
}

.botao a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}



/* footer */


footer {
  width: 100%;
  height: 100px;
  background: #3e4095;
}

footer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
}
footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

footer img {
  width: 20px;
  height: 20px;

  margin-right: 10px;
}
.infor-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a:hover{
  color: #000;
}