<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/pages/delete.css">
    <title>Deletar Filme</title>
</head>
<body>
    {% include 'header.html'%}

    {% if sucesso  %}
        <div class="bloco removido_sucesso">
            <p>Registro removido com sucesso !!</p>
        </div><!--bloco removido_sucesso-->
        <div class="bloco">
            <a href="/read" class="botao" >Visualizar tudo !</a>
        </div>
    {% elif filme %}
        
        <div class="bloco" >
            <h2>Remover Filme</h2>
        </div>
        <div class="bloco">
            <p>Tem certeza que deseja remover o filme <span class="highlight">{{filme.nome}}</span> ?</p>
        </div>
        <div class="bloco">
            <a href="/delete/{{filme.id}}/confirmed" class="botao">Remover</a>
            <a href="/read" class="botao">Cancelar</a>
        </div>
    {% else %}
        <div class="bloco">
            <h2>Remover Filme</h2>
        </div>
        <div class="bloco">
            <p>Nenhum filme foi encontrado !!</p>
        </div>
        <div class="bloco">
            <a href="/read" class="botao">Voltar para lista de filmes</a>
        </div>
    {% endif %}

</body>
</html>