<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final - Modulo 2</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/episodios.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="bloco">
        <h2>Temporadas e Episodios</h2>
    </div><!--titulo-->
    <div class="bloco">
        <table class="tabela">
            <tr class="tabela_header">
                
                <td>Nome</td>
                <td>Imagem</td>
                <td>Ações</td>
            </tr><!--th tag usada para criar o cabeçalho da tabela e td usada para colocar o nome das colunas da tabela   -->
        
        <tbody>
            {% for anime in episodios %}
             <ul class="imagem">
                 <li>
                     <div class="imagem">
                         <img class=imagem" src="../static/img/logo.png" alt="Logo Anime">
                         <a  href="/play/{{anime.id}}">{{anime.numero}}</a>
                     </div>
                 </li>
             </ul>
            
            {% endfor %}
        </table>

        </tbody><!--corpo da tabela que vai listar os dados-->
    </div><!--tabela-->
    
    {% include 'footer.html' %}
</body>
</html>