
<footer>
    <div class="infor-footer">
        <h2 class="title">
        Deselvolvido por:
    </h2>
    </div>
    
    <div class="infor-footer">
        <a href="https://github.com/CleitonFurst"> <img src="/static/img/git.png" alt="Cleiton Furst">Cleiton Furst</a>
        
    </div>
    <div class="infor-footer">
        <a href="https://github.com/Josucka"> <img src="/static/img/git.png" alt="Josué Barros"> Josué Barros</a>
        
    </div>
    <div class="infor-footer">
        <a href="https://github.com/francisco-das-chagas"> <img src="/static/img/git.png" alt="Francisco das Chagas"> Fco. das Chagas</a>
        
    </div>

</footer>

