<div class="bloco">

    <header>
        <div class="logo"><img src="/assets/logo.png" alt="Logo Anime"></div>
    </header>

    <main>
        <div class="slider">
            <a href="#slide-1">1</a>
            <a href="#slide-2">1</a>
            <a href="#slide-3">1</a>
            <a href="#slide-4">1</a>
            <a href="#slide-5">1</a>
          
            <div class="slides">
              <div id="slide-1">
                <img src="/assets/img/dragon-ball4.jpg" alt="">
              </div>
              <div id="slide-2">
                <img src="/assets/img/dragon-ball4.jpg" alt="">
              </div>
              <div id="slide-3">
                <img src="/assets/img/dragon-ball4.jpg" alt="">
              </div>
              <div id="slide-4">
                <img src="/assets/img/dragon-ball4.jpg" alt="">
              </div>
              <div id="slide-5">
                <img src="/assets/img/dragon-ball4.jpg" alt="">
              </div>
            </div>
          </div>
        
        
    </main>
    
    <footer>
        <div class="bloco">
            <a href="https://github.com/francisco-das-chagas">GitHub de Francisco Chagas</a>
            <a href="https://github.com/CleitonFurst">GitHub de Cleiton Furst</a>
            <a href="https://github.com/Josucka">GitHub de Josué Barros</a>
        </div>
    </footer>