<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto final - Modulo 2</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  {% include 'header.html' %}
  <main>
    <div class="slider">
        <a href="#slide-1">1</a>
        <a href="#slide-2">1</a>
        <a href="#slide-3">1</a>
        <a href="#slide-4">1</a>
        <a href="#slide-5">1</a>
      
        <div class="slides">
          <div id="slide-1">
            <img src="/assets/img/dragon-ball4.jpg" alt="">
          </div>
          <div id="slide-2">
            <img src="/assets/img/dragon-ball4.jpg" alt="">
          </div>
          <div id="slide-3">
            <img src="/assets/img/dragon-ball4.jpg" alt="">
          </div>
          <div id="slide-4">
            <img src="/assets/img/dragon-ball4.jpg" alt="">
          </div>
          <div id="slide-5">
            <img src="/assets/img/dragon-ball4.jpg" alt="">
          </div>
        </div>
      </div>
    
    
</main>

  <div class="botao">
    <a href="/opcao" class="botao">Avançar</a>
  </div>

  {% include 'footer.html' %}

</body>
</html>