<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <title>Animes Blue</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/opcao.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="bloco tabela">
        <h2>Assista um Anime</h2>
        {% for anime in animes %}
        <tbody>
            <td>
                <a href="/episodios/{{anime.id}}">
                <img src="{{anime.imagem_url}}" height="300" alt="{{anime.nome}}"></a>                
            </td>
        </tbody>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
</body>
</html>