<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <title>Animes Blue</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/opcao.css">
</head>
<body>
    {% include 'header.html' %}

    <h2>Clik no Anime(Assistir)</h2>

    <div class="bloco tabela">
        
        {% for anime in animes %}
        
        <tbody>
            <td>
                <a href="/update/{{anime.id}}" class="botao">Atualizar</a>
                <a href="/play/{{anime.id}}">
                <img src="{{anime.imagem_url}}" height="300" alt="{{anime.nome}}"></a>                
            </td>
        </tbody>
      
        
        {% endfor %}
    </div>
    <div class="botao"><a href="/episodios">Avançar</a></div>
    <div class="botao"><a href="/opcao/insert" class="botao">Add Anime</a></div>
    <div class="botao"><a href="/opcao/update" class="botao">Atualizar</a></div>
    <div class="botao"><a href="/opcao/delete" class="botao">Deletar</a></div>
             
    {% include 'footer.html' %}
</body>
</html>