<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final - Modulo 2</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/play.css">
</head>
<body>

    {% include 'header.html' %}
    <div class="bloco">
        <h1>onde roda o desenho</h1>
    </div>
    <div class="bloco">
        <img src="https://th.bing.com/th/id/OIP.P_5sWR2PR_6ZNcmOIvZvXQHaEK?pid=ImgDet&rs=1" height="250" alt="">
    </div>

    <div class="bloco">
        <button>avancar</button>
        <button>anterior</button>
    </div>
    <div class="botao">
        <a href="/" class="botao">Voltar</a>
      </div>

    {% include 'footer.html' %}
    
</body>
</html>