<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <title>Projeto Final - Modulo 2</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/play.css">
</head>
<body>
    {% include 'header.html' %}
    <div id="single" class="video">
        <div class="content">
            <div id="playex" class="player_sist">
                <!--div do player de video -->
                <div class="playex">
                    <div class="play_box" style="display: block;">
                        <iframe class="metaframe rptss"
                            src="{{episodio.link_url}}"
                            frameborder="0" allowfullscreen="">
                        </iframe>
                    </div><!--play_box-->
                </div><!--playex-->
            </div><!--player_sist-->
        </div><!--content-->
    </div><!--video-->   
    <div class="pag_episodes">
        <div class="item">
            <a class=" botao anterior" href="">
                <i class="icone_esquerda"></i>
                <span>Episodio anterior</span>
            </a>
        </div>
        <div class=" item"> 
            <a class="botao" href="https://animesonline.cc/anime/darling-in-the-franxx/"> 
                <i class="icone_barra"></i>
                <span>Todos os episodios</span>
            </a>        
        </div>
        <div class="item"> 
            <a class="botao" href="https://animesonline.cc/episodio/darling-in-the-franxx-episodio-2/" title="Darling in the Franxx Episodio 2"> 
                <span>Proximo episodio</span> 
                <i class="icone_direita"></i>
            </a>
        </div>
    </div>
    {% if comentario %}
    <div class="bloco">
        <p>Comentario inserido com sucesso</br>
        <br>
        <a href="/play/{{id_comentario}}" class="botao">Voltar</a></p>
    </div>
    {% else %}
    <div class="bloco">
        <form class="form" method="POST">
            <div class="bloco form_input">
                <label for="comentario">Comentario:</label>
                <input type="text" id="comentario" name="comentario">
            </div>
            <div class="bloco form_input">
                <input type="submit" class="botao" value="Enviar">
            </div>
        </form>
    </div>
    {% endif %}

    <div class="botao">
        <a href="/" class="">Voltar</a>
    </div>
    {% include 'footer.html' %}
</body>

</html>