<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <title>Projeto Final - Modulo 2</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/opcao.css">
</head>
<body>
    {% include 'header.html' %}

    {% if sucesso %}
        <div class="bloco sucesso">
            <p>Registro editado com sucesso!!</p>
        </div>
    
    {% elif anime %}
    <div class = "bloco">
        <h2>Editar Registro</h2>
    </div>
    <div class = "bloco">
        <form class="form" method="POST">
           <div class="bloco form_input">
                <label for="nome">Anime:</label>
                <input type="text" id="nome" name="nome" value="{{anime.id}}"> 
           </div><!--bloco form_input-->

           <div class="bloco form_input">
                <label for="imagem_url">URL do Anime:</label>
                <input type="text" id="imagem_url" name="imagem_url" value="{{anime.imagem_url}}"> 
           </div><!--bloco form_input-->
           

           <div class="bloco form_input">
               <input type="submit" class="botao" value="Enviar">
           </div>

        </form><!--form-->
    </div><!--bloco-->
    {% endif %}
    <div class="botao"><a href="/opcao">Voltar</a></div>
    {% include 'footer.html' %}
</body>
</html>